/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: white;
  font-family: 'Inter', sans-serif;
}

table th,
table td {
  padding: 12px 8px;
  border-bottom: 1px solid #333;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}